<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoLink</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
</head>

<style>
  .navbar-nav > li{
    margin-left:6px;
    margin-right:6px;
  }
</style>
{% block style %}{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #679186;">
    <a class="navbar-brand" href="{% url 'article:halamanArtikel' %}" style="font-family: 'Caveat', cursive; font-weight: 700;">SoLink</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        {% if user.profile.role == "Admin" %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'article:mengelolaArtikel' %}">Kelola Artikel <span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'donasi:pembatalandonasi' %}">Validasi Pembatalan Donasi <span></span></a>
        </li>
        {% endif %}
        {% if user.profile.role == "Mitra" %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'barang:listBarang' %}">Kelola Barang <span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'mtr_shop:penjualan' %}">Transaksi Penjualan <span></span></a>
        </li>
        {% endif %}
        {% if user.profile.role == "Lembaga Sosial" %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'donasi:formulirdonasi' %}">Daftar Formulir Donasi <span></span></a>
        </li>
        {% endif %}
        {% if user.profile.role == "Kontributor/Pembeli" %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'shop:shoppage' %}">Zero Waste Shop</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'donasi:donasipage' %}">Donasi</span></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'article:halamanArtikel' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'loginin:loginin' %}">Account</span></a>
        </li>
      </ul>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
  {% block content %}{% endblock %}
</body>
