header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  
  header.masthead .post-heading h1 {
    font-size: 35px;
  }
  
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
  }
  
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
  }
  
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
  }
  
  header.masthead .post-heading .meta a {
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px;
    }
    header.masthead .post-heading .subheading {
      font-size: 30px;
    }
  }
  
.blog {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 0px;
}

.blog .item {
    position: relative;
    box-sizing: border-box;
    margin-top: 20px;
    margin-top: 10px;
    padding: 6px;
}


.blog .item .body {
    box-sizing: border-box;
    padding: 0 0 25px;
    background-color: #fff; 
    border: 1px solid #eee;
    box-shadow: 0px 4px 2px rgba(31,31,31,0.02);
        -webkit-box-shadow: 0px 4px 2px rgba(31,31,31,0.02);

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.blog .item:hover .body {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);

    box-shadow: 0px 4px 10px rgba(31,31,31,0.15);
        -webkit-box-shadow: 0px 4px 10px rgba(31,31,31,0.15);
}


.blog .item .body .caption {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 270px;
    box-sizing: border-box;
    padding: 0 15px;
    padding-top: 10px;
}

.blog .item .body .caption a{
    font-size: 15px;
}

.blog .item .body .caption label{
    font-size: 11px;
}

.blog .item .body .caption h1{
    font-size: 20px;
    font-weight: bolder;
}

.blog .item .body .caption p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 15px;
}

.blog .item img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 309.97px;
}


/* View */
    .blog .item  a.view{
        position: absolute;
        top: 135px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color:#679186;
        text-align: center;

        opacity: 0;
        
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }

    .blog .item:hover a.view{
        opacity: 1;
        
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }

    .blog .item  a.view > i{
        font-size: 40px;
        line-height: 60px;
        color: #fff;
    }
/* View */

/* Pagination */
    .pagination{
        padding-top: 10px;
    }
    
    .pagination > li > a{
        color: #333;
    }

    .pagination > li > a:hover{
        color: #679186;
       
    }

    .pagination > .active > a{
        color: white;
        background-color: #679186 !Important;
        border: solid 1px #679186 !Important;
    }

/* Pagination */

