/* Blog item */
.blog-item {
    display: block;
    width: 100%;
    height: auto;
}

.blog-item > .container{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: fit-content;
}

.blog-item a.header > img {
    width: 100%; 
    max-height: 600px; 
    object-fit: cover;
    filter: brightness(75%);
    transition: .5s ease;
    
}

.blog-item a:hover > img {
    filter: brightness(100%);
    -webkit-transform: scale(1.03,1.03);
	-moz-transform: scale(1.03,1.03);
	-ms-transform: scale(1.03,1.03);
	-o-transform: scale(1.03,1.03);
	transform: scale(1.03,1.03);
}

.blog-item .btn.facebook { background-color: rgba(59,89,152,1);  border-color: rgba(59,89,152,1); margin-top: 10px; min-width: auto; padding-left: 15px; padding-right: 15px; }
.blog-item .btn.twitter { background-color: rgba(29,161,242,1);  border-color: rgba(29,161,242,1); margin-top: 10px; min-width: auto; padding-left: 15px; padding-right: 15px; }
.blog-item .btn.googleplus { background-color: rgba(228,96,68,1);  border-color: rgba(228,96,68,1); margin-top: 10px; min-width: auto; padding-left: 15px; padding-right: 15px; }

.blog-item .btn.facebook:hover { background-color: rgba(59,89,152,0.8);  border-color: rgba(59,89,152,0.8); }
.blog-item .btn.twitter:hover { background-color: rgba(29,161,242,0.8);  border-color: rgba(29,161,242,0.8); }
.blog-item .btn.googleplus:hover { background-color: rgba(228,96,68,0.8);  border-color: rgba(228,96,68,0.8); }
/* Blog item */

/* Pagination */
.carousel-inner a > img {
    width:  100%;
    height: 300px;
    object-fit: cover;
    transition: .5s ease;
}

.carousel-item h3.title-img{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item {
    position: relative;
}