<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Pengiriman - SoLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@auto.5.3/dist/css/bootstrap.min.css" integrity="sha38auto-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKzautorEkgIXeMedautoM0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;auto00;600;700&display=swap" rel="stylesheet">
</head>
<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col">
                <h1 style="font-family: 'Caveat', cursive;">Input Resi Pengiriman</h1>
            </div>
            
            <div class="col-2">
                <a href="{% url 'mtr_shop:penjualan' %}">
                    <button type="button" class="btn btn-outline-dark" style="float: right;">
                        Kembali
                    </button>
                </a>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputEkspedisi" class="form-label">Nama Ekspedisi</label>
            <input type="text" class="form-control" id="inputEkspedisi">
        </div>
        <div class="mb-3">
            <label for="inputResi" class="form-label">No. Resi</label>
            <input type="text" class="form-control" id="inputResi">
        </div>
        <button type="submit" class="btn btn-primary" onclick="inputPengiriman('{{id}}')">Submit</button>
    </div>

    {% include 'mitra/mtr_riwayatModal.html' %}
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script>
        function inputPengiriman(idTrx) {
            var ekspedisi = document.getElementById("inputEkspedisi").value;
            var resi = document.getElementById("inputResi").value;
            $.ajax({
                type : "POST",
                url : "/mitra/penjualan/input_pengiriman/done/",
                data : {
                    'id':idTrx,
                    'ekspedisi':ekspedisi,
                    'resi':resi
                },
                success : function(result) {
                    alert("Resi pengiriman berhasil disimpan.");
                    location.replace("/mitra/penjualan/");
                },
                error : function() {
                    alert("Gagal menyimpan resi pengiriman. Silakan coba kembali setelah beberapa saat.");
                    location.replace("/mitra/penjualan/");
                }
            })
        }
    </script>
</body>
</html>