{% extends 'navbar.html' %}
{% load static %}
{% block style %}
  <style>
    #titleID {
        content: Kelola Barang - SoLink;
    }
    .wrap{
    position: relative;
    }
    .wrap a{
      position: absolute;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 2%;">
  <div class="row">
    <div class="col">
        <h1 style="font-family: 'Caveat', cursive;">Kelola Barang</h1>
    </div>
    <div class="col-2">
      <a href="{% url 'barang:tambah' %}">
          <button type="button" class="btn btn-outline-dark" style="float: right;">
              Tambahkan Barang
          </button>
      </a>
    </div>
    <div class="col-2">
      <a href="{% url 'barang:update' %}">
          <button type="button" class="btn btn-outline-dark" style="float: right;">
              Update Barang
          </button>
      </a>
    </div>
    <div class="col-2">
      <a href="{% url 'barang:hapus' %}">
          <button type="button" class="btn btn-outline-dark" style="float: right;">
              Hapus Barang
          </button>
      </a>
  </div>
</div>

<div class="container" style="margin-top: 2%;">
  <div class="row row-cols-2 row-cols-sm-4" style="margin-top: 1%;">
    {% for item in data %}
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{{ item.urlFoto }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ item.namaBarang }}</h5>
          <div class="text-left">
              <p class="card-text">Harga Barang : {{ item.hargaBarang }}</p>
              <p class="card-text">Stok Barang : {{ item.jumlahStok }}</p>
              <p class="card-text">Deskripsi Barang :{{ item.deskripsiBarang }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>  
</div>
{% endblock %}
