{% extends 'navbar.html' %}
{% load static %}
<head>
  <title>Kelola Barang - SoLink</title>
  <style>
    img {
        object-fit: contain;
        max-height: 250px;
    }
    </style>
</head>
{% block content %}
<div class="container" style="margin-top: 2%;">
  <div class="row">
    <div class="col">
        <h1 style="font-family: 'Caveat', cursive;">Hapus Barang</h1>
    </div>
    <div class="col-2">
      <a href="{% url 'barang:listBarang' %}">
          <button type="button" class="btn btn-outline-dark" style="float: right;">
            Kembali
          </button>
      </a>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 2%;">
  <div class="row row-cols-2 row-cols-sm-4" style="margin-top: 1%;">
    {% for item in data %}
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{{ item.urlFoto }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ item.namaBarang }}</h5>
          <div class="text-right">
              <p class="card-text">{{ item.hargaBarang }}</p>
          </div>
          <div>
            <a href="{% url 'barang:konfirmasiHapus' item.idBarang %}">
            <button class="btn btn-outline-dark" style="float: right;">Hapus</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>  
</div>

{% endblock %}
