{% extends "navbar.html" %}

{% block content %}
<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col">
            <h1 style="font-family: 'Caveat', cursive;">Update Barang</h1>
        </div>
        
        <div class="col-2">
            <a href="{% url 'barang:listBarang' %}">
                <button type="button" class="btn btn-outline-dark" style="float: right;">
                    Kembali
                </button>
            </a>
        </div>
    </div>
    
    <div class="centered">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value ="Update" class="btn btn-outline-success" id ="tombol">
            <a href="{% url 'barang:update' %}" class="btn btn-outline-success" role="button">Back</a>
            <p>  </p>
        </form>
    </div>

</div>

{% endblock %}