<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoLink</title>
    <link href="{% static 'ionicons-2.0.1/css/ionicons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/halamanArtikel.css' %}">

</head>

<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('https://3.bp.blogspot.com/-7e6skWMM4iI/XGav5UtyXVI/AAAAAAAAGyU/LXKJ8E1CGpIvBE3MPqRzjIoaiYSivfS6QCLcBGAs/w1200-h630-p-k-no-nu/pexes%2Bzero%2Bwaste.jpeg')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1 style="font-family: 'Caveat', cursive !important; font-weight: 700 !important;">SoLink</h1>
                <span class="subheading">Platform Pendukung Gaya Hidup Zero Waste</span>
            </div>
            </div>
        </div>
        </div>
    </header>
    <div class="blog">
        <div class="container">
          <div class="row">
  
            {% for obj in artikel %}
            <div class="col-sm-6 col-md-6 item">
              <div class="body">
                <a href="{% url 'article:melihatArtikel' obj.idArtikel %}" class="view"><i class="ion-ios-book-outline"></i></a>
                <a href="{% url 'article:melihatArtikel' obj.idArtikel %}">
                  <img src="{{ obj.gambarThumbnail.url }}">
                </a>
                
                <div class="caption">
                  <h1>{{ obj.judulArtikel }}</h1>
                  <label>{{ obj.timestamp }}</label>
                  <hr class="offset-sm">
  
                  <p>
                    {{ obj.abstraksiArtikel }}
                  </p>
                  <hr class="offset-sm">
  
                  <a href="{% url 'article:melihatArtikel' obj.idArtikel %}">Baca selengkapnya <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
            {% endfor %}
  
          </div>
  
          <!-- <nav >
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
              </li>
            </ul>
          </nav> -->
  
        </div>
    </div>
    <br>
</body>
</html>