<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoLink</title>
    <link href="{% static 'ionicons-2.0.1/css/ionicons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/melihatArtikel.css' %}">

</head>

<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    {% for obj in artikel %}
    <div class="blog-item">
        <a class="header" href="{{ obj.gambarThumbnail.url }}">
            <img src="{{ obj.gambarThumbnail.url }}">
        </a>
        <div class="container">
            <br><br>
	    	<div class="row">
	    		<div class="col-md-8 offset-md-2">
	    			<h1>{{ obj.judulArtikel }}</h1>
		    		 <br>
                        {{ obj.isiArtikel | safe }}
                     <br>
		    		 <button class="btn btn-primary btn-sm facebook"> <i class="ion-social-facebook"></i> Share </button>
		    		 <button class="btn btn-primary btn-sm twitter"> <i class="ion-social-twitter"></i> Retweet</button>
		    		 <button class="btn btn-primary btn-sm googleplus"> <i class="ion-social-googleplus"></i> Plus </button>

                     <hr style="margin: 50px auto 50px; border-top: 2px solid #e2e2e2;"> 
                     <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h5>Baca artikel lainnya...</h5>
                            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                                <!-- slides -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active"> 
                                        <a href="{% url 'article:melihatArtikel' 6 %}">
                                            <img src="{% static 'img/kompos.jpg' %}">
                                        </a>
                                        <h3 class="title-img">Manfaat Mengompos Di Rumah</h3>
                                    </div>
                                    <div class="carousel-item "> 
                                        <a href="{% url 'article:melihatArtikel' 2 %}">
                                            <img src="{% static 'img/zerowaste.jpg' %}">
                                        </a>
                                        <h3 class="title-img">Menerapkan Zero Waste Lifestyle di Masa Pandemi</h3>
                                    </div>
                                    <div class="carousel-item "> 
                                        <a href="{% url 'article:melihatArtikel' 4 %}">
                                            <img src="{% static 'img/kamar mandi.jpg' %}">
                                        </a>
                                        <h3 class="title-img">Sikap Bijak Menggunakan Listrik di Kamar Mandi</h3>
                                    </div>
                                    <div class="carousel-item "> 
                                        <a href="{% url 'article:melihatArtikel' 3 %}">
                                            <img src="{% static 'img/grocery.jpeg' %}">
                                        </a>
                                        <h3 class="title-img">Tips Zero Waste Untuk Grocery Shopping</h3>
                                    </div>
                                </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                                <ol class="carousel-indicators list-inline">
                                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="{% static 'img/kompos.jpg' %}" class="img-fluid"> </a> </li>
                                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="{% static 'img/zerowaste.jpg' %}" class="img-fluid"> </a> </li>
                                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="{% static 'img/kamar mandi.jpg' %}" class="img-fluid"> </a> </li>
                                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="{% static 'img/grocery.jpeg' %}" class="img-fluid"> </a> </li>
                                </ol>
                            </div>
                        </div>
                     </div>
                     <br><br>
                    
	    		</div>
            </div>
        </div>
        
        <br>
    </div>
    {% endfor %}
</body>
{% if message != "" %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
</html>