<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoLink</title>
    <link href="{% static 'ionicons-2.0.1/css/ionicons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/membuatArtikel2.css' %}">

</head>

<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="create-artikel col-md-10 offset-md-1">
        <br>
        <h3 style="text-align: center; padding:28px 0px 20px; font-weight: bolder;">Form Ubah Artikel</h3>
        <form  method="POST" action="{% url 'article:mengubahArtikel' idArtikel %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          
        <br><br><br>
        <a class="btn btn-light" href="{% url 'article:mengelolaArtikel' %}" role="button">Batalkan</a>
        <input type="submit" name="submit" value ="Update" class="btn btn-primary" >
        </form>
        <!-- <br><br><br>
        <button type="button" class="btn btn-light">Batalkan</button>
        <a class="btn btn-primary" href="{% url 'article:halamanArtikel' %}" role="button">Simpan</a> -->
    </div>
</body>


</html>