<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoLink</title>
    <link href="{% static 'ionicons-2.0.1/css/ionicons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mengelolaArtikel2.css' %}">

</head>

<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    {% if message != "" %}
        {% if "Gagal" in message %}
        <div class="alert alert-danger alert-dismissible">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endif %}
    {% endif %}
    <h2 style="text-align: center; padding:28px 0px 20px; font-weight: bolder;">Halaman Kelola Artikel</h2>
    <div class="container">
        <div class="row">
        <div class="col-md-10 offset-md-1">
            <a class="btn btn-success" href="{% url 'article:membuatArtikel' %}" role="button">Buat Artikel &#43;</a>
            <br><br>

            {% for obj in artikel %}
            <div class="post-preview">
            <a href="{% url 'article:melihatArtikel' obj.idArtikel %}">
                <h2 class="post-title">
                    {{ obj.judulArtikel }}
                </h2>
                <h3 class="post-subtitle">
                    {{ obj.abstraksiArtikel|truncatechars:85 }}
                </h3>
            </a>
            <p class="post-meta">{{ obj.timestamp }}
            </p>
            <a class="btn btn-light" href="{% url 'article:mengubahArtikel' obj.idArtikel %}" role="button">Ubah</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ obj.idArtikel }}">Hapus</button> 
            </div>
            <hr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{ obj.idArtikel }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pesan Konfirmasi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Judul : {{ obj.judulArtikel }}
                    <br>
                    Apakah anda yakin ingin menghapus artikel tersebut?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <!-- <button type="button" class="btn btn-danger">Hapus</button> -->
                    <a href="{% url 'article:menghapusArtikel' obj.idArtikel %}">
                        <button class="btn btn-danger">Hapus</button>
                    </a>            
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}

        </div>
        </div>
    </div>
</body>
<!-- {% if message != "" %}
<script>
    alert('{{ message }}');
</script>
{% endif %} -->
</html>