<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
    </head>
    <body style="background-color: #679186;">
        <script src="https://code.jquery.com/jquery-1.11.3.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <div class="d-flex align-items-center row justify-content-center center">
                <div class="card">
                    <div class="card-body">
                    <h1 style="text-align: center;">Selamat Datang di SoLink</h1>
                    {% if user.is_authenticated %}
                    <div style="text-align: center;">
                        <p>Selamat datang <strong>{{user.username}} [ {{user.profile.role}} ]</strong></p>
                        <a href="{% url 'logout' %}" class="btn btn-secondary">Log out</a>
                        <a href="{% url 'article:halamanArtikel' %}" class="btn btn-secondary">Kembali</a>
                    </div>
                    {% else %}
                    <div style="text-align: center;">
                    <p>Selamat datang</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Sign in</a>
                    <a href="{% url 'loginin:signup' %}" class="btn btn-primary">Sign up</a>
                    <a href="{% url 'article:halamanArtikel' %}" class="btn btn-secondary">Menu</a>
                    {% endif%}
                    </div>
                    </div>
                </div>
        </div>
        
    </body>
</html>
