<div class="modal fade" id="formulirBerhasilModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="formulirBerhasilLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5>Formulir kamu berhasil disimpan</h5>
        <p>Status donasi : Menunggu persetujuan lembaga sosial</p>
        <p>Pilih <b> Riwayat Donasi</b> untuk melihat perkembangan status</p>
      </div>
      <div class="text-center mb-4">
        <button onclick="saveFormulir()" type="button" class="btn btn-primary btn-center"
          data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>