<div class="modal fade" id="ls-donasiSelesaiModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="ls-donasiSelesaiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5>Proses donasi selesai</h5>
        <p>Status donasi :Selesai</p>
      </div>
      <div class="text-center mb-4">
        <button onclick="setujuiDonasi()" type="button" class="btn btn-primary btn-center"
          data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>