<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi Berhasil! - SoLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        .brand {
            font-family: 'Caveat', cursive;
            font-weight: 700;
        }
        .liCO {
            margin-bottom: 2%;
        }
    </style>
</head>
<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col">
                <div class="card border-secondary" style="background-color: transparent;">
                    <div class="card-body" style="padding: 0.5rem; text-align: center;">
                      Transaksi berhasil! Terima kasih telah berbelanja di <span class="brand">SoLink</span> !
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; margin-top: 2%;">
                <h3>Total Biaya Transaksi: {{biaya}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1 class="brand" style="font-weight: 400;">Tata Cara Pembayaran</h1>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 1%;">
            <div class="col-12 col-sm-6" style="text-align: left;">
                <ol>
                    <li class="liCO">
                        Setor uang atau uang elektronik (contoh: DANA, OVO, LinkAja, dll.) ke rekening bank SoLink berikut: <b>1234567890</b>.
                        Pastikan nominal yang Anda setorkan sesuai dengan total biaya pada transaksi.
                    </li>
                    <li class="liCO">Setelah melakukan pembayaran, harap melakukan konfirmasi pembayaran yang dapat dilakukan di halaman Riwayat Transaksi.</li>
                    <li class="liCO">Transaksi Anda akan diteruskan kepada Mitra ketika pembayaran telah dikonfirmasi.</li>
                </ol>
                <br>
                <a href="{% url 'shop:riwayat' %}"><button type="button" class="btn btn-outline-dark" style="float: right;">Lihat Riwayat Transaksi</button></a>
            </div>
        </div>
    </div>
</body>
</html>
