<div class="modal fade" id="pengirimanModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="pengirimanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pengirimanModalLabel">Pengiriman</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <b>Alamat</b>
                    <p id="alamatCO">Universitas Indonesia, Jalan Margonda Raya, Depok, Jawa Barat</p>
                </div>
            </div>
            <hr>
            <div class="row" style="font-weight: 700;">
                <div class="col-6 col-sm-8">Items</div>
                <div class="col-1">Qty</div>
                <div class="col-5 col-sm-3">Subtotal</div>
            </div>
            <div id="barangCO">
                <div class="row">
                    <div class="col-6 col-sm-8">
                        <span>Tumblr</span>
                    </div>
                    <div class="col-1">1</div>
                    <div class="col-5 col-sm-3">Rp 400.000</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-7 col-sm-9">
                    <span><b>Pilih metode pengiriman</b>:</span>
                </div>
                <div class="col-5 col-sm-3">
                    <span><b>Biaya</b></span>
                </div>
            </div>  
            <div class="row">
                <div class="col-5">
                    <select class="form-control custom-select" id="metodePengiriman">
                        <option value="Ekonomis">Ekonomis</option>
                        <option value="Standard">Standard</option>
                        <option value="Ekspres">Ekspres</option>
                    </select>
                </div>
                <div class="col-2 col-sm-4"></div>
                <div class="col-5 col-sm-3">
                    <span id="ongkir"></span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 col-sm-8" style="text-align: right; font-weight: 700;">
                    <span>Total</span>
                </div>
                <div class="col-1" id="qtyTotalCO">3</div>
                <div class="col-5 col-sm-3">Rp <span id="totalHargaCO">465.000</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#keranjangModal">Kembali</button>
            <button type="button" class="btn btn-primary" onclick="createTrx()">Lanjut ke pembayaran</button>
        </div>
      </div>
    </div>
  </div>

  <script>
        function setTotal(total) {
            $("#totalHargaCO").empty();
            $("#totalHargaCO").append(total);
        }
        $("#metodePengiriman").mouseup(function() {
            var metode = document.getElementById("metodePengiriman").value;
            var ongkir = document.getElementById("ongkir");
            switch (metode) {
                case "Ekonomis":
                    ongkir.innerText = "Rp 10000";
                    setTotal(parseInt(TOTAL) + 10000);
                    break;
                case "Standard":
                    ongkir.innerText = "Rp 30000";
                    setTotal(parseInt(TOTAL) + 30000);
                    break;
                case "Ekspres":
                    ongkir.innerText = "Rp 50000";
                    setTotal(parseInt(TOTAL) + 50000);
                    break;
            }
        })
        function modalCheckout() {
            $.ajax({
                type : "GET",
                url : "/shop/modal_checkout/",
                success : function(result) {
                    $("#barangCO").empty();
                    for (let i = 1; i <= result['count']; i++) {
                        var barang = result[i];
                        var barang_entry = '<div class="row"><div class="col-6 col-sm-8"><span>' + barang['nama'] + '</span></div><div class="col-1">1</div><div class="col-5 col-sm-3">Rp ' + barang['harga'] + '</div></div>';
                        $("#barangCO").append(barang_entry);
                    }
                    
                    $("#alamatCO").empty();
                    $("#alamatCO").append(result['alamat']);
                    $("#qtyTotalCO").empty();
                    $("#qtyTotalCO").append(result['count']);
                    $("#totalHargaCO").empty();
                    $("#totalHargaCO").append(result['total']);
                    TOTAL = result['total'];
                },
                error : function() {
                    alert("Gagal mendapatkan informasi keranjang.");
                }
            })
        }
        function createTrx() {
            var metode = document.getElementById("metodePengiriman").value;
            var total;
            switch (metode) {
                case "Ekonomis":
                    total = TOTAL + 10000;
                    break;
                case "Standard":
                    total = TOTAL + 30000;
                    break;
                case "Ekspres":
                    total = TOTAL + 50000;
                    break;
            }
            $.ajax({
                type : "POST",
                url : "/shop/create_transaksi/",
                data : {
                    'total' : total,
                    'metode' : metode
                },
                success : function(result) {
                    var id = result['id'];
                    alert("Transaksi dengan id:" + id.toString() + " berhasil dibuat!");
                    location.replace("{% url 'shop:checkout' id=99999 %}".replace("99999", id.toString()));
                },
                error : function() {
                    alert("Gagal membuat transaksi. Silakan coba kembali setelah beberapa saat.");
                }
            })
        }
  </script>