<div class="modal fade" id="riwayatModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="riwayatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="riwayatModalLabel">Transaksi #<span id="idTrx">x</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <b>Status</b>
                    <p id="status">Sedang Dikirim</p>
                </div>
            </div>
            <hr>
            <div class="row" style="font-weight: 700;">
                <div class="col-6 col-sm-8">Items</div>
                <div class="col-1">Qty</div>
                <div class="col-5 col-sm-3">Subtotal</div>
            </div>
            <div id="barangRiwayat">
                <div class="row">
                    <div class="col-6 col-sm-8">
                        <span>Tumblr</span>
                        <span class="hargaKeranjang">[Rp 200.000]</span>
                    </div>
                    <div class="col-1">2</div>
                    <div class="col-5 col-sm-3">Rp 400.000</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-9">
                    <span><b>Metode pengiriman</b>:</span>
                </div>
                <div class="col-5 col-sm-3">
                    <span><b>Biaya</b></span>
                </div>
            </div>  
            <div class="row">
                <div class="col-5">
                    <span id="metodePengiriman">Standard</span>
                </div>
                <div class="col-2 col-sm-4"></div>
                <div class="col-5 col-sm-3">
                    Rp <span id="ongkir">30.000</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 col-sm-8" style="text-align: right; font-weight: 700;">
                    <span>Total</span>
                </div>
                <div class="col-1" id="qtyTotalRiwayat">3</div>
                <div class="col-5 col-sm-3">Rp <span id="totalHargaRiwayat">465000</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        </div>
      </div>
    </div>
  </div>

<script>
    function detailRiwayatModal(id) {
        $.ajax({
            type : "GET",
            url : "/shop/modal_riwayat/",
            data : {
                'id':id
            },
            success : function(result) {
                $("#idTrx").empty();
                $("#idTrx").append(result['id']);
                $("#status").empty();
                $("#status").append(result['status']);

                $("#barangRiwayat").empty();
                for (let i = 1; i <= result['count']; i++) {
                    var barang = result[i];
                    var barang_entry = '<div class="row"><div class="col-6 col-sm-8"><span>' + barang['nama'] + '</span><span class="hargaKeranjang">[Rp ' + barang['harga'] + ']</span></div><div class="col-1">' + barang['qty'] + '</div><div class="col-5 col-sm-3">Rp ' + barang['subtotal'] + '</div></div>';
                    $("#barangRiwayat").append(barang_entry);
                }

                $("#metodePengiriman").empty();
                $("#metodePengiriman").append(result['metode']);
                $("#ongkir").empty();
                $("#ongkir").append(result['ongkir']);
                $("#qtyTotalRiwayat").empty();
                $("#qtyTotalRiwayat").append(result['count']);
                $("#totalHargaRiwayat").empty();
                $("#totalHargaRiwayat").append(result['total']);
            },
            error : function() {
                alert("Gagal mendapatkan informasi rincian transaksi. Silakan coba kembali setelah beberapa saat.");
            }
        })
    }
</script>