<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Transaksi - SoLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        .hargaKeranjang {
            font-size: 70%;
        }
    </style>
</head>
<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1 style="font-family: 'Caveat', cursive;">Riwayat Transaksi</h1>
            </div>
        </div>
        <div class="row row-cols-1 ">
            {% for trx in listTransaksi %}
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark" style="float: right;" onclick="detailRiwayatModal('{{trx.0}}')" data-toggle="modal" data-target="#riwayatModal">
                        Lihat rincian
                    </button> 
                    <h5 class="card-title">Transaksi #{{trx.0}}</h5>
                    <p class="card-text">
                        <b>Total item:</b> {{trx.1}}
                        <br>
                        <b>Total pembayaran:</b> Rp {{trx.2}}
                        <br>
                        <b>Metode Pengiriman:</b> {{trx.3}}
                        <br>
                        <b>Status:</b> {{trx.4}}
                        {% if trx.4 == 'Sedang Dikirim' or trx.4 == 'Selesai' %}
                        <br>
                        <b>Ekspedisi/No.Resi:</b> {{trx.5}} / {{trx.6}}
                        {% endif %}
                    </p>
                    {% if trx.4 == 'Menunggu Pembayaran' %}
                    <a href="javascript:pembayaran({{ trx.0 }});">Konfirmasi Pembayaran</a>
                    {% endif %}
                    {% if trx.4 != 'Menunggu Pembayaran' and trx.4 != 'Selesai' and trx.4 != 'Dibatalkan' %}
                    <a href="javascript:sampai({{ trx.0 }}, '{{trx.4}}');" style="float: right;">Konfirmasi Sampai</a>
                    {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>

    {% include 'riwayatModal.html' %}
    <script>
        function pembayaran(id) {
            $.ajax({
                type : "GET",
                url : "/shop/pembayaran/",
                data : {
                    'id':id
                },
                success : function(result) {
                    alert("Transaksi dengan id " + result['id'] + " telah berhasil dibayar.");
                    location.reload();
                },
                error : function() {
                    alert("Gagal mendapatkan informasi rincian transaksi. Silakan coba kembali setelah beberapa saat.");
                }
            })
        }
        function sampai(id, status) {
            if (status != "Sedang Dikirim") {
                alert("Gagal mengkonfirmasi sampai. Coba kembali setelah barang transaksi sampai.");
                return;
            }
            $.ajax({
                type : "GET",
                url : "/shop/sampai/",
                data : {
                    'id':id
                },
                success : function(result) {
                    alert("Transaksi dengan id " + result['id'] + " telah berhasil dikonfirmasi sampai.");
                    location.reload();
                },
                error : function() {
                    alert("Gagal mengonfirmasi transaksi. Silakan coba kembali setelah beberapa saat.");
                }
            })
        }
    </script>
</body>
</html>