<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Waste Shop - SoLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"></head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        img {
            object-fit: contain;
            max-height: 250px;
        }
        h5 {
            font-weight: 600;
        }
        .hargaKeranjang {
            font-size: 70%;
        }
        .wrap{
          position: relative;
        }
        .wrap a{
          position: absolute;
          width:100%;
          height:100%;
          top:0px;
          left:0px;
        }
    </style>
</head>
<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col-8">
                <h1 style="font-family: 'Caveat', cursive;">Zero Waste Shop</h1>
            </div>
            {% if keranjang %}
            <div class="col-2">
                <a href="{% url 'shop:riwayat' %}">
                    <button type="button" class="btn btn-outline-dark" style="float: right;">
                        Riwayat Transaksi
                    </button>
                </a>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-outline-dark" style="float: right;" onclick="modalKeranjang()" data-toggle="modal" data-target="#keranjangModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                    Keranjang
                </button>
            </div>
            {% endif %}
        </div>
        <div class="row row-cols-2 row-cols-sm-4" style="margin-top: 1%;">
          {% for item in data %}
          <div class="col mb-4">
            <div class="card h-100 wrap">
              <a href="{% url 'shop:deskripsi' item.idBarang %}"></a>
              <img src="{{ item.urlFoto }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ item.namaBarang }}</h5>
                <div class="text-right">
                    <p class="card-text">{{ item.hargaBarang }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

    {% include 'keranjangModal.html' %}
    {% include 'pengirimanModal.html' %}

</body>
</html>