<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Donasi - SoLink</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
<style>
    div p {
        margin: 0;
        padding: 0;
    }
</style>
</head>

<body style="background-color: #bbd4ce; font-family: 'Nunito', sans-serif;">
    {% include 'navbar.html' %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1 style="font-family: 'Caveat', cursive;">Daftar Pembatalan Donasi</h1>
            </div>
        </div>

        {% for d in data %}
        <div id="cardDonasi" class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <h5>#{{d.id}}</h5>
                        <p class="font-weight-bold">Nama donatur : </p>
                        <p class="mb-2">{{d.namaDonatur}}</p>

                        <p class="font-weight-bold">Status donasi : </p>
                        <p id="statusDonasi" class="mb-2">{{d.status}}</p>

                        <p class="font-weight-bold">Tanggal donasi : </p>
                        <p class="mb-2">{{d.tanggalDonasi}}</p>

                        <p class="font-weight-bold">Jenis barang : </p>
                        <p class="mb-2">{{d.jenisBarang}}</p>

                        <p class="font-weight-bold">Alasan pembatalan : </p>
                        <p class="">{{d.alasanPembatalan}}</p>
                    </div>
                    <div class="col-2">
                        <button onclick="tolakPembatalan('{{d.id}}')" id="btnTolak" type="button"
                            class="btn btn-secondary mb-3">
                            <p class="card-text">Tolak pembatalan</p>
                        </button>

                        <button onclick="setujuiPembatalan('{{d.id}}')" id="btnSetujui" type="button"
                            class="btn btn-danger mb-3">
                            <p class="card-text">Setujui pembatalan</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

<script>
    const tolakPembatalan = (idDonasi) => {
        var payload = {
            idDonasi: idDonasi,
            status: "Permohonan pembatalan donasi dari donatur telah ditolak karena alasan yang tidak valid. Harap tunggu respon dari lembaga sosial"
        };
        sendPOST(payload);
    }
    const setujuiPembatalan = (idDonasi) => {
        var payload = {
            idDonasi: idDonasi,
            status: "Permohonan pembatalan donasi dari donatur telah disetujui oleh admin. Proses donasi dibatalkan"
        };
        sendPOST(payload);
    }
    const sendPOST = (data) => {
        $.ajax({
            type: "POST",
            url: "/donasi/admin/pembatalan-donasi/",
            data: data
        })
        location.reload()
    }
</script>

</html>