<div class="modal fade" id="batalkanDiprosesModel" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="batalkanDiprosesModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5>Pembatalan donasi sedang di proses</h5>
      </div>
      <div class="text-center mb-4">
        <button onclick="cancelDonation()" type="button" class="btn btn-danger btn-center"
          data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>