<div class="modal fade" id="batalkanDonasiModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="batalkanDonasiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="batalkanDonasiModalLabel">Pembatalan Donasi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Mengapa kamu ingin membatalkan donasi?</h5>
        <div id="warningEmptyData" style="display: none;" class="alert alert-danger mt-3">
          <strong>Perhatian!</strong> <span id="warningText">Text</span>
        </div>
        <div class="input-group">
          <textarea id="alasanPembatalan" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        <button onclick="checkData()" id="btnBatalkanDonasi" type="button" class="btn btn-danger">Batalkan
          Donasi</button>
      </div>
    </div>
  </div>
</div>